.footer {
	@include media-breakpoint-down(lg) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.main-row {
		align-items: center;
		min-height: rem(76);
		@include media-breakpoint-down(lg) {
			--bs-gutter-y: 15px;
		}
	}
	margin-top: auto;
	width: 100%;
	min-height: rem(76);
	background-color: #d6d6d6;
	.icon {
		font-size: rem(47);
	}
	.link-row > * {
		padding: 0;
		@include media-breakpoint-up(xxl) {
			margin-right: rem(27);
		}
		@include media-breakpoint-up(lg) {
			margin-right: rem(15);
		}
	}
	.icon {
		@include media-breakpoint-down(lg) {
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
	.link-row {
		@include media-breakpoint-down(lg){
			--bs-gutter-y:9px;
		}
		.col-6{
			&:nth-child(1){
				@include media-breakpoint-down(lg){
					order:0;
				}
			}
			&:nth-child(2){
				@include media-breakpoint-down(lg){
					order:2;
					a{
						margin-left: -30px;
					}
				}
			}
			&:nth-child(3){
				@include media-breakpoint-down(lg){
					order:1;
				}
			}
			&:nth-child(4){
				@include media-breakpoint-down(lg){
					order:3;
					a{
						margin-left: -16px;
					}
				}
			}
		}
		a {
			@include mt;
			margin-right: rem(24);
			color: $body-color;
			text-decoration: none;
			margin-right: 0;
			@include media-breakpoint-down(lg){
				display: block;
				text-align: center;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
