mixin sCourse(data)
	// start sCourse
	+b.SECTION.sCourse.section#sCourse&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Course content
			+e.modules
				+e.modules-caption
					+e.modules-caption-text There are two modules for three days:
					+e.IMG.modules-caption-img(alt=" " src="img/svg/course-1.svg")
				+e.modules-first-circle
					+e.IMG.modules-first-img(alt=" " src="img/svg/course-2.svg")
					+e.modules-first-caption
						p 1
						p Management (2 days)
				+e.modules-first-block
					+e.modules-first-text
						ul
							li History of&nbsp;digitization, Pros and Cons
							li Peculiarity of&nbsp;business processes
							li Special requirements for equipment
							li HR: Roles, Responsibilities, KPIs.
							li Interdisciplinarity: Business process, Rules, Statistics of&nbsp;use, Stakeholder management
							li Communications: workflow, features, map
							li Client Service: principles, approaches
							li IT: architecture, requirements, scheme
							li Regulatory: how to&nbsp;cope with&nbsp;it.
							li Business case: template, descriptions, how to&nbsp;optimise.
							li Risk management: approaches, tools.
							li How to&nbsp;start digital transformation: key&nbsp;points.
					+e.modules-first-icon.d-none.d-lg-block
						+icon('course-3')
					+e.modules-first-icon.d-block.d-lg-none
						+icon('course-4')
				+e.modules-second-circle
					+e.IMG.modules-second-img(alt=" " src="img/svg/course-5.svg")
					+e.modules-second-caption
						p 2
						p Diagnostic (1 day)
				+e.modules-second-block
					+e.modules-second-text
						ul
							li Mistakes
							li AI/ML in&nbsp;diagnostics
							li Tools
							li Different solution
							li Some nosologies
						+pic('course-6.jpg','',0)
					+e.modules-second-icon.d-none.d-lg-block
						+icon('course-3')
					+e.modules-second-icon.d-block.d-lg-none
						+icon('course-4')
				+e.modules-plus
					+icon('course-6')
		+pic('back-3.png','',0).back-3.d-md-block.d-none
		+pic('back-3-small.png','',0).back-3-small.d-block.d-md-none
		+pic('back-4.png','',0).back-4.d-md-block.d-none
		+pic('back-4-small.png','',0).back-4-small.d-block.d-md-none
	// end sCourse