.modal-win {
	// display: block;
	width: 100%;
	position: relative;
	max-width: rem(1170);
	// min-height: 100%;
	padding-top: rem(54);
	padding-left: rem(57);
	padding-left: rem(65);
	.is-close {
		display: none;
	}
	&__caption {
		padding-top: rem(30);
		padding-bottom: rem(42);
		span {
			color: $danger;
		}
		a {
			color: $primary;
			text-decoration: underline;
		}
	}
	.h2 {
		margin-bottom: 0;
	}
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	&__btn-wrap {
		display: flex;
	}
	&__btn {
		font-size: rem(16);
		line-height: rem(44);
		color: $white;
		width: rem(270);
		height: rem(44);
		border-radius: $large;
		text-align: center;
		border: 0;
		@include media-breakpoint-down(md){
			min-height: rem(44);
			height: auto;
			border-radius: 20px;
			font-size: 13px;
			width: rem(290);
		}
		&--first {
			margin-right: rem(40);
			@include media-breakpoint-down(md){
				margin-right: rem(20);
			}
		}
		&--second {
			// background-image: linear-gradient(-143deg, $primary 0%, $danger 100%);
		}
	}
	&--big {
		max-width: rem(1200);
		.is-close {
			display: block;
		}
		.h2 {
			padding-bottom: rem(32);
		}
		p {
			padding-bottom: 32px;
		}
		span {
			color: $danger;
		}
		table {
			table-layout: fixed;
			border-collapse: collapse;
			border: 1px solid #d6d6d6;
			margin-bottom: 60px;
			th {
				text-align: center;
				padding-top: rem(10);
				padding-bottom: rem(10);
				border: 1px solid #d6d6d6;
				&:nth-child(1) {
					width: 25%;
				}
				&:nth-child(1) {
					width: 25%;
				}
				&:nth-child(2) {
					width: 61%;
				}
				&:nth-child(3) {
					width: 14%;
				}
			}
			td {
				border: 1px solid #d6d6d6;
				padding-left: rem(16);
				height: rem(32);
				line-height: rem(32);
				&:nth-child(3) {
					position: relative;
				}
			}
			.string {
				background-color: #e6e6e6;
			}
			.minus {
				display: block;
				margin-left: auto;
				margin-right: auto;
				border: 0;
				background-color: transparent;
				width: rem(32);
				height: rem(32);
				cursor: pointer;
				position: relative;
				&::after {
					position: absolute;
					content: "";
					top: rem(6);
					left: rem(6);
					background-image: url(../img/svg/table-minus.svg);
					width: rem(20);
					height: rem(20);
					background-size: cover;
				}
			}
			.form-switch {
				padding-left: 0;
			}
			.form-check-input {
				display: block;
				margin-left: auto;
				margin-right: auto;
				left: 50%;
				right: 50%;
				transform: translate3d(-50%, 0, 0);
				position: absolute;
				width: rem(42);
				height: rem(24);
				margin-top:0;
			}
		}
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}

//
@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
	.fancybox__container {
		width: 100% !important;
		min-height: 100%;
		transform: none !important;
	}
}
