
mixin modal() 
	//  start modals
	+b.modal-win(id="modal-cookies" class=" " style="display: none" )
		.h2 Этот сайт использует куки
		p.modal-win__caption DPTC использует файлы cookie для персонализации контента, рекламы и&nbsp;анализа трафика. Мы&nbsp;также делимся информацией об&nbsp;посещении вами сайта с&nbsp;нашими партнерами по&nbsp;социальным сетям, рекламе и&nbsp;аналитике, которые могут совмещать его с&nbsp;другой информацией, которую вы&nbsp;им&nbsp;предоставили или которую они собрали при использовании вами их&nbsp;сервисами и&nbsp;услугами.<br /><br />Мы&nbsp;и&nbsp;наш партнеры используем следующую информацию:<br /><br /><span>&bull;</span> cookies и&nbsp;персональные данные<br /><span>&bull;</span> геолокацию<br /><span>&bull;</span> стандартную информацию для показа персонифицированной рекламы<br /><span>&bull;</span> анализ посещений, кликов на&nbsp;сайте, а&nbsp;также показ и&nbsp;клики рекламных модулей.<br /><br />Ваш выбор будет использован только для данного сайта.<br />Перед соглашением вы&nbsp;можете <a class="link-modal-js" href="#modal-info">почитать подробнее о&nbsp;cookies.</a>
		+e.btn-wrap
			+e.btn--first(type="button") Разрешить необходимые
			+e.btn--second(type="button") Разрешить все cookies
	// #modal-coolies
	+b.modal-win.modal-win--big(id="modal-info" class=" " style="display: none" )
		.h2 Cookie Policy
		p Flowwow uses cookies and similar technologies to&nbsp;provide, protect and improve our platform. This policy describes the ways and why we&nbsp;use these technologies, and the choices you have about their use.<br /><br />Cookie is&nbsp;a&nbsp;small data file that is&nbsp;sent to&nbsp;your device. For example, a&nbsp;cookie may allow&nbsp;us to&nbsp;identify your browser while another may store your settings. There are two types of&nbsp;cookies that are used on&nbsp;the Flowwow Platform: session cookies and persistent cookies. The session cookies expire when you close your browser, while persistent cookies remain on&nbsp;your device after you close your browser and may be&nbsp;used the next time you access the services Flowwow.<br /><br />We&nbsp;also use other technologies with similar cookie functionality, such as&nbsp;web beacons, pixels, mobile identifiers, and tracking URLS to&nbsp;retrieve log data. For example, our emails may contain web beacons and tracking URLS to&nbsp;determine whether you have opened a&nbsp;particular message or&nbsp;accessed a&nbsp;particular link.
		.h2 Why Flowwow uses these technologies
		p We&nbsp;use these technologies in&nbsp;order&nbsp;to:<br /><br /><span>&bull;</span> гProvide you with the opportunity to&nbsp;use Flowwow services<br /><span>&bull;</span> To&nbsp;enable, facilitate and simplify the operation and your access to&nbsp;the Flowwow services<br /><span>&bull;</span> Better understand how you navigate and interact with Flowwow services, and improve Flowwow platform<br /><span>&bull;</span> Show you the content that is&nbsp;most appropriate for you<br /><span>&bull;</span> To&nbsp;monitor and analyze the operation and effectiveness of&nbsp;the services Flowwow<br /><span>&bull;</span> Identify and prevent possible fraud
		.h2 Cookie settings
		table 
			thead
				th File name
				th Purpose
				th Adjustability
			tr
				td.string(colspan="3") DPTC cookies
			tr
				td city_id
				td Used in the cart to determine the current city
				td.ps-0
					button.minus(type="button")
			tr
				td currency
				td Users' currency
				td.ps-0
					button.minus(type="button")
			tr
				td lang
				td Users' language
				td.ps-0
					button.minus(type="button")
			tr
				td last_order
				td Last order ID
				td.ps-0
					button.minus(type="button")
			tr
				td cart_uid
				td Last cart ID
				td.ps-0
					button.minus(type="button")
			tr
				td.string(colspan="3") Other services cookies
			tr
				td ipp_uid1
				td Client identification, protection from Ddos attacks
				td.ps-0
					button.minus(type="button")
			tr
				td ipp_uid2
				td Client identification, protection from Ddos attacks
				td.ps-0
					button.minus(type="button")
			tr
				td cto_lwid
				td Criterio ID
				td.ps-0
					.form-check.form-switch
						input(class="form-check-input" type="checkbox")
			tr
				td _ga
				td Tracking user behavior on the site, collecting information about the interests of the user
				td.ps-0
					.form-check.form-switch
						input(class="form-check-input" type="checkbox")
			tr
				td _ga_cid
				td Tracking user behavior on the site, collecting information about the interests of the user
				td.ps-0
					.form-check.form-switch
						input(class="form-check-input" type="checkbox")
		.h2 Third party
		p We can also allow some partners to host their technology on Flowwow services. They use these technologies in order to help us analyse how you use the services Flowwow, namely noting the services of third parties through which you moved, to sell and advertise you services Flowwow on the websites of third parties to help us detect and prevent fraud or to carry out a risk assessment, also collect information about your activity on the services Flowwow other sites and/or advertisements on which you clicked. For example, to help us better understand how people use Flowwow services, we work with a range of Analytics partners, including Google Analytics service.
		.h2 How to regulate the use of “cookies”
		p Most browsers automatically accept cookies, but you can change your browser&rsquo;s settings to&nbsp;refuse cookies by&nbsp;going to&nbsp;the Help section on&nbsp;your<br />browser&rsquo;s toolbar.<br /><br />If&nbsp;you choose to&nbsp;refuse cookies, some parts of&nbsp;the Flowwow services may not work properly or&nbsp;may not work at&nbsp;all.

	// #modal-info
	
	// end modals