@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-course-3 {
	font-size:math.div(500,10)*1rem;
	width: math.div(296.5,500)*1em;
}
.icon-course-4 {
	font-size:math.div(132,10)*1rem;
	width: math.div(64,132)*1em;
}
.icon-course-6 {
	font-size:math.div(110,10)*1rem;
	width: math.div(110,110)*1em;
}
.icon-info-1 {
	font-size:math.div(193.67,10)*1rem;
	width: math.div(500,193.67)*1em;
}
.icon-lecturers-1 {
	font-size:math.div(500,10)*1rem;
	width: math.div(425.89,500)*1em;
}
.icon-lecturers-2 {
	font-size:math.div(500,10)*1rem;
	width: math.div(426.75,500)*1em;
}
.icon-lecturers-3 {
	font-size:math.div(500,10)*1rem;
	width: math.div(425.89,500)*1em;
}
.icon-lecturers-4 {
	font-size:math.div(500,10)*1rem;
	width: math.div(425.89,500)*1em;
}
.icon-logo {
	font-size:math.div(137.52,10)*1rem;
	width: math.div(500,137.52)*1em;
}
.icon-v31 {
	font-size:math.div(299.88,10)*1rem;
	width: math.div(255.96,299.88)*1em;
}
