mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 About training center
			+e.title Digitalization in&nbsp;pathology is&nbsp;not the future, it&nbsp;is&nbsp;now.
			+e.caption Being innovative and having resources is&nbsp;not enough for successful deployment of&nbsp;new digital technologies in&nbsp;medicine. <br /><br />How to&nbsp;start? What solution suits better? How to&nbsp;change the mentality and keep people motivated to&nbsp;work in&nbsp;a&nbsp;new way and many other questions impose a challenge&nbsp;to&nbsp;digitalization in&nbsp;the world of&nbsp;medicine.<br /><br />Listen to&nbsp;those who have gone through this parth<br /><br />We&nbsp;have an&nbsp;exclusive license to&nbsp;distribute experience of&nbsp;a&nbsp;company that has made the &laquo;digitization&raquo; of&nbsp;the whole workflow in&nbsp;pathology and thanks to&nbsp;that has become:<br /><br /><span>&bull;</span> The leader of&nbsp;the commercial market of&nbsp;Russia;<br /><span>&bull;</span> The biggest employer for pathology in&nbsp;the country.<br /><br />Digital technologies are more than a&nbsp;trend. Digitalization is&nbsp;the process that can put your business way ahead of&nbsp;the market in&nbsp;terms of&nbsp;quality, speed and total costs.. Just imagine: scanning, storing and having consilium with at&nbsp;least two participants in&nbsp;every case is&nbsp;faster and cheaper than the traditional approach.<br /><br />During the course, we&nbsp;will tell you<br /><span>&bull;</span> why and what is&nbsp;changing,<br /><span>&bull;</span> what are the alternatives,<br /><span>&bull;</span> how to&nbsp;adapt existing processes, keep control on&nbsp;them and make this transition smooth.<br /><br />You will get:<br /><span>&bull;</span> peer to&nbsp;peer sharing experiences;<br /><span>&bull;</span> demonstrations of&nbsp;performing diagnostic in&nbsp;digital from different points of&nbsp;views;<br /><span>&bull;</span> handouts: forkflow and roles descriptions, KPI approach, communication map in&nbsp;interdisciplinary teams, workflow scheme and description, risk management and business case templates and others.
		+pic('back-1.png','',0).back-1.d-sm-block.d-none
		+pic('back-1-small.png','',0).back-1-small.d-block.d-sm-none
		+pic('back-2.png','',0).back-2
	// end sAbout