extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sCourse/_sCourse.pug
include ../blocks/sLecturers/_sLecturers.pug

block variables
	- let  mainPage= 'main-page'
	- let  bg= 'main.jpg'

block title
	- let  title= 'Digital Pathology'
	title= title
block pagecontent 
	//- a.btn.bnt-primary.link-modal-js(href="#modal-call") sadasdsa 
	//- a.btn.bnt-primary.link-modal-js(href="#modal-call") sadasdsa 
	//- +mob-mnu()
	//- +icon("telegram")
	//- +header()
	//- +top-nav()
	
	//- +topLine()
	//- +headerBlock()
	+sAbout()
	+sCourse()
	+sLecturers()
	//- +sForm()
	//- +sContact()
	+footer()