extends layout/main.pug


//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sCourse/_sCourse.pug
//- include ../blocks/sLecturers/_sLecturers.pug
//- include ../blocks/sInfo/_sInfo.pug
//- include ../blocks/sForm/_sForm.pug

block variables
	- let  mainPage= 'main-page'
	- let  bg= 'main.jpg'

block title
	- let  title= 'Modals'
	title= title
block pagecontent 
	//- a.btn.bnt-primary.link-modal-js(href="#modal-call") sadasdsa 
	a.btn.btn-primary.link-modal-js.mt-5.ms-5(href="#modal-cookies" style="color:white;") Cookies