mixin sInfo(data)
	// start sInfo
	+b.SECTION.sInfo.section#sInfo&attributes(attributes)
		.container.container--info1
			+pic('info-1.jpg','',0).info-1
		.container
			h1 To take a course/to ask a question
			.h2 Next course:
			+e.caption <span class="span1">3,4,5 February</span> 2022 at Istanbul Participation fee <span class="span2">450€</span>
		.container.container--info2
			+pic('info-2.jpg','',0).info-2
		+pic('back-4.png','',0).back-4.d-md-block.d-none
		+pic('back-4-small.png','',0).back-4-small.d-block.d-md-none
	// end sInfo