mixin sInfo(data)
	// start sInfo
	+b.SECTION.sInfo.section#sInfo&attributes(attributes)
		.container.container--info1
			+pic('info-1.jpg','',0).info-1
		.container
			h1 To take a course/to ask a question
			.h2 Next course:
			+e.caption <span class="span1">9,10,11 November</span> 2021 at Istanbul Participation fee <span class="span2">450€</span>
		.container.container--info2
			+pic('info-2.jpg','',0).info-2
	// end sInfo