// start .sLecturers
.sLecturers {
	position: relative;
	z-index: 15;
	--sPT: #{rem(48)};
	--sPB: #{rem(40)};
	--sTPB: #{rem(83)};
	.container {
		@include media-breakpoint-up(xxl) {
			width: 1100px;
		}
		@include media-breakpoint-down(sm) {
			width: 58%;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.row {
		@include media-breakpoint-up(sm) {
			--bs-gutter-x: #{rem(95)};
		}
		--bs-gutter-y: 62px;
	}
	&__card {
		--cardcolor: #{$primary};
		--svgcolor: #e6e6e6;
		&:hover {
			--cardcolor: #{$danger};
			--svgcolor: #{$danger};
			.pic{
				&::before {
					opacity: 0;
				}
				&::after {
					opacity: 1;
				}
			}
		}
		.icon {
			@include mt;
			color: var(--svgcolor);
			max-width: rem(257);
			@include media-breakpoint-down(xl) {
				max-width: 420px;
			}
			@include media-breakpoint-down(lg) {
				max-width: 305px;
			}
			@include media-breakpoint-down(md) {
				max-width: none;
			}
			@include media-breakpoint-down(sm) {
				max-width: 108%;
			}
		}
	}
	.row > * {
		&:nth-child(1) {
			.pic {
				&::before,
				&::after {
					left: rem(-14);
					top: rem(-19);
					@include media-breakpoint-down(xl) {
						left: -24px;
						top: -32px;
					}
					@include media-breakpoint-down(lg) {
						left: -21px;
						top: -24px;
					}
					@include media-breakpoint-down(md) {
						left: -30px;
						top: -41px;
					}
					@include media-breakpoint-down(md) {
						left: -4.56vw;
						top: -5.614vw;
					}
				}
			}
		}
		&:nth-child(2) {
			.pic {
				&::before,
				&::after {
					transform: scale(1, -1);
					left: rem(-14);
					top: rem(-13);
					@include media-breakpoint-down(xl) {
						left: -24px;
						top: -21px;
					}
					@include media-breakpoint-down(lg) {
						left: -21px;
						top: -15px;
					}
					@include media-breakpoint-down(md) {
						left: -30px;
						top: -29px;
					}
					@include media-breakpoint-down(md) {
						left: -4.56vw;
						top: -4.56vw;
					}
				}
			}
		}
		&:nth-child(3) {
			.pic {
				&::before,
				&::after {
					transform: scale(-1, -1);
					left: rem(-21);
					top: rem(-13);
					@include media-breakpoint-down(xl) {
						left: -37px;
						top: -21px;
					}
					@include media-breakpoint-down(lg) {
						left: -28px;
						top: -15px;
					}
					@include media-breakpoint-down(md) {
						left: -45px;
						top: -29px;
					}
					@include media-breakpoint-down(sm) {
						left: -5.965vw;
						top: -4.56vw;
					}
				}
			}
		}
		&:nth-child(4) {
			.pic {
				&::before,
				&::after {
					transform: scale(-1, 1);
					left: rem(-21);
					top: rem(-19);
					@include media-breakpoint-down(xl) {
						left: -37px;
						top: -32px;
					}
					@include media-breakpoint-down(lg) {
						left: -28px;
						top: -24px;
					}
					@include media-breakpoint-down(md) {
						left: -45px;
						top: -41px;
					}
					@include media-breakpoint-down(sm) {
						left: -5.965vw;
						top: -4.56vw;
					}
				}
			}
		}
	}
	.pic {
		position: relative;
		&::before {
			@include mt;
			content: "";
			background-image: url(../img/svg/lecturers.svg);
			position: absolute;
			width: 118%;
			height: 113%;
			background-size: cover;
			opacity: 1;
		}
		&::after {
			@include mt;
			content: "";
			background-image: url(../img/svg/lecturers-color.svg);
			position: absolute;
			width: 118%;
			height: 113%;
			background-size: cover;
			opacity: 0;
		}
	}
	.h2 {
		text-align: center;
		padding-top: rem(54);
		@include mt;
		color: var(--cardcolor);
		@include media-breakpoint-down(lg) {
			padding-top: 50px;
		}
	}
	&__caption {
		@include media-breakpoint-up(xl) {
			margin-left: rem(-15);
			width: 115%;
		}
		padding-top: rem(21);
		@include media-breakpoint-down(lg) {
			padding-bottom: 40px;
		}
		line-height: $large;
		letter-spacing: 0.15px;
	}
	.back-4 {
		position: absolute;
		top: 1000px;
		right: rem(67);
		opacity: 0.9;
		z-index: -1;
		width: rem(415);
		height: rem(446);
		@include media-breakpoint-down(xl) {
			right: 0;
		}
		@include media-breakpoint-down(md) {
			top: 1000px;
		}
		img {
			object-fit: cover;
			height: 100%;
		}
		&::after {
			position: absolute;
			padding: 0;
			top: 0;
			left: 0;
			content: "";
			width: rem(368);
			height: rem(395);
			background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
		}
	}
	.back-4-small {
		position: absolute;
		padding: 0;
		top: 900px;
		right: 0;
		opacity: 0.9;
		z-index: -1;
		width: rem(222);
		height: rem(395);
		img {
			object-fit: cover;
		}
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			width: rem(222);
			height: rem(395);
			background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sLecturers
