//- mixin mob-mnu()
//- 	-
//- 		//- let path = require('path');
//- 		//- let fs = require('fs');
//- 		//- var requestURL = 'top-nav.json';
//- 		//- var request = new XMLHttpRequest();
//- 		//- request.open('GET', requestURL);
//- 		//- request.responseType = 'json';
//- 		//- let dataJson = JSON.parse(json);
//- 	//- h1= dataJson['lala'] 
//- 	+b.menu-mobile--js.d-lg-none
//- 		+b.toggle-menu-mobile--js
//- 			span
//- 		+e.inner
//- 			+mnu()
//- 	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container--menu.container
			+e.menu
				+e.link(href="#sAbout") About training center
				+e.link(href="#sCourse") Course content
				+e.link--mini(href="#") Management Diagnostic
				+e.link(href="#sLecturers") About the lecturers:
				+e.link(href="#sInfo") To take a course
		.container
			.row
				+e.menu-wrap.col-sm-auto.col-12
					+e.menu-toggle
					a(href="/")
						+e.IMG.logo(alt=" " src="img/svg/logo-color.svg")
				.col-sm-auto.col-12.col-link
					+e.menu-ask.btn-purple(href="#sForm") To apply / to ask a question
						span
	// end top-nav